<div class="container">
    <div class="card shadow mb-4">                   
      <div class="card-body"> 
        <table class="table table-striped">
          <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Taille</th>  </tr>
          <tbody *ngFor="let parfum of parfums">
          <tr >
          <td>{{parfum.idParfum}}</td>
          <td>{{parfum.nomParfum}}</td>
          <td>{{parfum.prixParfum}}</td>
          <td>{{parfum.taille}}</td>
          </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div> 
  